<form id="author-form" action="/board" method="post" target="_blank">
    <div class="form-row">
        
        <input type="text" name="author" id="author-input" required minlength="1" maxlength="15" placeholder="Username:">
    </div>
    <div class="form-controls">
        <button type="submit">Join</button>
    </div>
</form>