body {
    font-family: Calibri;
	background-color: #fff;
	padding: 40px;
}

.messages {
    background-color: #1998e6;
	color: #fff;
	margin-left: 1.8%;
}

.message-list {
    list-style-type: none;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 1rem;
}
.message-date {
	float:right;
    color: #fff;
	
}

.message-username {
    font-weight: bold;
    color: #fff;
    margin-bottom: .5rem;
	text-decoration: underline wavy white;
	
}

.message-text {
	padding:10px;
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px 20px 20px;
	padding:0px;
	
}

.form-row label {
    width: 20%;
	margin-right:0px;
}

.form-row input, .form-row textarea {
    width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.form-controls {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

button[type=submit]{
  background-color: #1998e6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}